@font-face {
    font-family: candy;
    src: url(../fonts/candy.ttf);
}
@font-face {
  font-family: bubbly;
  src: url(../fonts/bubbly.ttf);
}
#loginhead{
  text-align:center;
  font-style: oblique;
  font-family:candy;
  font-size: 100px;
  color:#001337;
}
footer{
  font-size: 3px;
  text-align: center;
  bottom: 0;
  position: fixed;
  color:white;
  width:100%;
  background:red;
  margin-left: -7px;
  height:30px;
}
footer p{
  font-family:bubbly;
  font-size: 10px;
}
body{
  background: linear-gradient(180deg, #48227d 0%, #2f569c 100%);
  background-attachment: fixed;
  height:840px;
  font-family:bubbly;
}
#error{
  border:solid blue;
  background-color: green;
  border-radius: 10px;
  color:white;
  font-size:10px;
  font-family: bubbly;
}
