#userwel{
  float:left;
}
#logout{
float:right;
}
#logo{
  margin-left: 40%;
}
body{
    background: linear-gradient(180deg, #48227d 0%, #2f569c 100%);
    background-attachment: fixed;
    height:840px;
    font-family:bubbly;
}
textarea {
    resize: none;
}
#Profile_Head{
  width:99.6%;
  height:30%;
  border: 2px solid red;
}
#sidebar{
  margin-left: 0;
  width: 20%;
  height:100%;
  float: left;
  background-color: white;
  border: solid black;
}
#navbar{
 margin-top: -0.5%;
 border: 1px solid grey;
 border-radius: 5px;
 height: 40px;
 padding-top: 15px;
 background-color: black;
}
header a {
    display:inline;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-style: italic;
    border-radius: 25px;

}

a:hover:not(.active) {
    background-color: hotpink;
    transition-duration: 2s;

}

.active {
background-color:#4CAF50;
}
