@font-face {
  font-family: bubbly;
  src: url(../fonts/bubbly.ttf);
}
#userwel{
  float:left;
}
#logout{
float:right;
}
#logo{
  margin-left: 25%;
  display: inline;
}
#msg{
  float:right;
}
#Search_Bar{

}
#logobrand{
  width: 10px;
  height: 10px;
}
body{
    background: linear-gradient(0deg, #FFFFFF 10%, #ECE9E6 90%);
    background-attachment: fixed;
    height:840px;
    font-family:bubbly;
}
#Post-Txt {
    resize: none;
    ont-size: 15px;
font-weight: bold;
}
#Post_Btn{
  font-family: bubbly;
}
#Profile_Head{
  width:99.6%;
  height:30%;
  border: 2px solid red;
}
#sidebar{
  margin-left: 0;
  width: 20%;
  height:100%;
  float: left;
  background-color: #ECE9E6;
  border: solid black;
}
#navbar{
 margin-top: -0.5%;
 border: 1px solid grey;
 border-radius: 5px;
 height: 60px;
 padding-top: 15px;
 background-color: black;
}
header a {
    display:inline;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-style: italic;
    border-radius: 25px;

}
.whoposted{
color:white;
font-family: cursive;
float:left;
}
.Feeds{
  padding: 30px;
  color:black;
  border: 1px solid grey;
  width:50%;
  height:250px;
  margin-left: 20%;
  background-color: #001337;

}
